@font-face {
    font-family: 'OpenSansCondensed-Light';
    font-style: normal;
    font-weight: 400;
    src: url("../common/fonts/OpenSansCondensed-Light.ttf") format('truetype');
}
html, body {
    font-family: 'OpenSansCondensed-Light';
    background: black;
    color: white;
}

a {
    color: white;
}

.favorite-item {
    color: black;
    background: white;
    border: 2px solid #4283f4;
    width: 20%;
    display: inline-block;
    padding: 1%;
    margin: 10px;
}
.favorite-img {
    width: 25%;
    height: auto;
}

.favorite-item:hover {
    background: #4283f4;
    color: white;
    cursor: pointer;
}

.warning-box {
    font-weight: bold;
    border: 4px solid red;
    background: white;
    color: black;
    padding: 5px;
}